/*-----------------------------------------------*/
:root{
    --primarycolor: #222629;
    --secondarycolor: #474b4f;
    --navcolor: #666;
    --background: #222;
}

* {
    box-sizing: border-box;
    font-family: Open sans, sans-serif;
}

body {
    font-size: 20px;
    /*background-color:  var(--background);*/
    margin: 0;
    background-image: url("background.png");
}
#page {
    width: 1000px;
    min-height: 970px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: var(--primarycolor);
    position: relative;
    z-index: 5;
    box-shadow: 0 8px 20px 0 black, 0 12px 40px 0 black;
}

#header {
    color: #16ffbd;
    height: 70px;
    font-size: 55px;
    width: 800px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
#mainbody {
    display: block;
    min-height: 800px;
    margin-left: 5px;
    margin-right: 5px;
}


#footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0 10px 0;
    text-align: center;
    line-height: 20px;
    color: white;
}
*/
/*---------------------------------------------*/
.block {
    display:block;
    background: var(--secondarycolor);
    color:white;
    margin:10px;
    padding: 20px;
    float:left;
    box-shadow: 0 2px 4px 0 #6b6e70, 0 4px 12px 0 #6b6e70;
}

.block:hover {
    box-shadow: 0 6px 10px 0 #6b6e70, 0 8px 25px 0 #6b6e70;
}
a.block:hover {
    background-color: #bbb;
}
a.block:link,a.block:visited,a.block:active {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

table ,td,th{
    border-collapse: collapse;
    border: 3px solid #05ac4a;
    color: white;
}

table {

    border-radius: 20px;
}
td,th {
    padding:20px;
}

.nav {
    padding: 10px;
    border-radius: 5px;
    background-color: #05ac4a;
    text-decoration: none;
    margin:0 10 0 10;
}

input,option,select{
    color:black;
}

.mobile {
    border-radius: 15px;
    background-color: #05ac4a;
    float:left;
    width:150px;
    height:150px;
    margin:50px;
}

.abc {
    
    display:block;
    background: var(--secondarycolor);
    color:white;
    height: 200px;
    margin:10px;
    padding-left: 20px;
    float:left;
    box-shadow: 0 2px 4px 0 #6b6e70, 0 4px 12px 0 #6b6e70;
    padding: 40px;
}

.login{

    padding-left: 200px;
    padding-top: 10px;
    height: 500px;
}
.text{

    padding: 10px;


}
.label{

    padding: 10px;
    


}
.button{
    background-color: #05ac4a;
    border-radius: 10px;
    margin:0 100 0 100;
    height: 30px;
    width: 100px;
}

.updates {
    border: 3px solid #05ac4a;
    padding: 10px;
    border-radius: 5px;
    color:  #ccff99;
}
