/*-----------------------------------------------*/
:root{
    --primarycolor: #666;
    --secondarycolor: #888;
    --navcolor: #666;
    --background: #222;
}

* {
    box-sizing: border-box;
    color: white;
}

body {
    font-size: 20px;
    /*background-color:  var(--background);*/
    margin: 0;
    background-image: url("background.png");
}
#page {
    width: 1000px;
    min-height: 970px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: var(--primarycolor);
    position: relative;
    z-index: 5;
    box-shadow: 0 8px 20px 0 black, 0 12px 40px 0 black;
}

#header {
    height: 70px;
    font-size: 65px;
    width: 800px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
/*
#navigation {
    background: var(--navcolor);
    width: 1000px;
    height: 32px;
    margin-bottom: 10px;
    color: white;
    font-size: 24px;
}
#navigation-menu li {
    display: inline-block;
    float: left;
    list-style-type: none;
    overflow: hidden;
    list-style: none;
    width: auto;
    margin: 0;
    padding: 0;
    outline: none;
    height: 100%;
    padding: 0 15px;
}

#navigation-menu li a:link,a:visited{
    color :white;
}

#navigation-menu li a:hover {
    background-color: grey;
}
*/
#mainbody {
    display: block;
    min-height: 800px;
    margin-left: 5px;
    margin-right: 5px;
}


#footer {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    padding: 45px 0 10px 0;
    text-align: center;
    line-height: 20px;
}
/*-----------------------------------------------*/
/*
.nblob {
    display:block;
    background-color: var(--navcolor);
    border:5px solid var(--secondarycolor);
    border-radius:10px;
    margin:5px;
    font-size: 24px;
    padding: 0 10px ;
}
a.nblob:hover {
    background-color: grey;
}
a.nblob:link,a.nblob:visited,a.nblob:active {
    color: #0af;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}


.blob {
    display:block;
    background: var(--primarycolor);
    border:5px solid var(--secondarycolor);
    border-radius:10px;
    margin:10px;
    padding: 20px;
    font-size: 20px;
}

a.blob:hover {
    background-color: #bbb;
}
a.blob:link,a.blob:visited,a.blob:active {
    color: #000;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}


*/
/*---------------------------------------------*/
.blob {
    display:block;
    background: var(--secondarycolor);
    margin:10px;
    padding: 20px;
    float:left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blob:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2), 0 20px 50px 0 rgba(0, 0, 0, 0.19);
}
a.blob:hover {
    background-color: #bbb;
}
a.blob:link,a.blob:visited,a.blob:active {
    color: white;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

table ,td,th{
    border-collapse: collapse;
    border: 10px solid var(--secondarycolor);
}
td,th {
    padding:20px;
}

.nav {
    text-decoration: none;
    margin:0 10 0 10;
}

input,option,select{
    color:black;
}